<%- include('partials/head.ejs') %> 

  <body>
    <h1>The Home Page <%= 4 + 5 + 1 %> </h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam doloremque
      eaque temporibus, laborum a odio ipsa delectus repudiandae nesciunt
      quisquam possimus consectetur neque pariatur doloribus nemo eum eveniet
      velit architecto.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
      veritatis deserunt delectus quidem amet magnam ratione mollitia
      consequuntur, praesentium corporis? Dicta provident commodi quos ad
      tempora iste nemo aperiam. Explicabo.
    </p>
  </body>
</html>
